<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head') %>
<body>
    <%- include('../../layout/header') %>
    <main>
        <%maparray.forEach((val,i)=>{%>
        <form action="/books" method="POST">
            <input type="text" value="<%=i%>" name = "i" style="display:none ;">
            <div class="main">
            <img src="<%=val.img%>" alt="بخبخ">
            <h2><%=val.title%></h2>
            <h3><%=val.authors[0]%></h3>
            <p id="description"><%=val.description%></p>
            <p>ISPN:<%=val.ispn%></p>
            <p>Bookshelf:<%=val.categories[0]%></p>
                <button type="submit">Select This Box</button>
                </div>
            </div>
        </form>
        <%})%>
    </main>
    <footer>
        <%- include('../../layout/footer') %>
    </footer>
    
</body>
</html>